.comment {
  margin-top: 2.4rem;
  display: flex;
  gap: 1.6rem;
}

.comment > img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 8px;
}

.commentBox {
  flex: 1;
}

.commentContent {
  background: var(--gray-700);
  border-radius: 8px;
  padding: 1.6rem;
}

.commentContent header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.authorAndTime strong {
  display: block;
  font-size: 1.4rem;
  line-height: 1.6;
}

.authorAndTime time {
  display: block;
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--gray-400);
}

.commentContent header button {
  background: transparent;
  border: none;
  color: var(--gray-400);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
}

.commentContent header button:hover {
  color: var(--red-500);
}

.commentContent header button:hover:focus {
  box-shadow: 0 0 0 1px var(--red-500);
}

.commentContent p {
  margin-top: 1.6rem;
  color: var(--gray-300);
}

.commentBox footer {
  margin-top: 1.6rem;
  color: var(--gray-300);
}

.commentBox footer button {
  background: transparent;
  border: none;
  color: var(--gray-400);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0 .4rem;
}

.commentBox footer button:hover {
  color: var(--green-300);
}

.commentBox footer button svg {
  margin-right: .8rem;
}

.commentBox footer button span::before {
  content: "\2022";
  padding: 0 .4rem;
}


