.aside {
  background: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
}

.wallpaper {
  width: 100%;
  height: 7.2rem;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -4.2rem;
}

.profile strong {
  margin-top: 1.6rem;
  color: var(--gray-100);
  line-height: 1.6;
}

.profile span {
  font-size: 1.4rem;
  color: var(--gray-400);
  line-height: 1.6;
}

.aside footer {
  margin-top: 2.4rem;
  border-top: 1px solid var(--gray-600);
  padding: 2.4rem 3.2rem 3.2rem;
  text-align: center;
}

.aside footer a {
  background: transparent;
  color: var(--green-500);
  border: 1px solid var(--green-500);
  border-radius: 8px;
  height: 4.8rem;
  padding: 0 2.4rem;
  font-weight: bold;
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  transition: color 100ms, background-color 100ms;
}

.aside footer a:hover {
  background-color: var(--green-500);
  color: var(--white);
}