.post {
  background: var(--gray-800);
  padding: 4.2rem;
  border-radius: 8px;
}

.post>header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post>header time {
  font-size: 1.4rem;
  color: var(--gray-400);
}

.post+.post {
  margin-top: 3.2rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.avatar {
  box-sizing: initial;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 8px;
  border: 4px solid var(--gray-600);
  outline: 2px solid var(--green-500);
}

.authorInfo strong {
  margin-top: 1.6rem;
  color: var(--gray-100);
  line-height: 1.6;
}

.authorInfo span {
  font-size: 1.4rem;
  color: var(--gray-400);
  line-height: 1.6;
}

.content {
  line-height: 1.6;
  margin-top: 1.6rem;
  color: var(--gray-300);
}

.content p {
  margin-top: 1.6rem;
}

.content a {
  font-weight: bold;
  color: var(--green-500);
}

.hastags {
  display: flex;
  gap: .6rem;
}

.content a:hover {
  color: var(--green-300);
}