.post {
  background: var(--gray-800);
  padding: 4.2rem;
  border-radius: 8px;
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post + .post {
  margin-top: 3.2rem;
}

.author {
  display: flex;
  gap: 1.6rem;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorInfo strong {
  margin-top: 1.6rem;
  color: var(--gray-100);
  line-height: 1.6;
}

.authorInfo span {
  font-size: 1.4rem;
  color: var(--gray-400);
  line-height: 1.6;
}

.post > header time {
  font-size: 1.4rem;
  color: var(--gray-400);
}

.content {
  line-height: 1.6;
  margin-top: 1.6rem;
  color: var(--gray-300);
}

.content p {
  margin-top: 1.6rem;
}

.content a {
  font-weight: bold;
  color: var(--green-500);
}

.content a:hover {
  color: var(--green-300);
}

.hashtags {
  display: flex;
  gap: .6rem;
}

.commentForm {
  width: 100%;
  margin-top: 3.2rem;
  padding-top: 3.2rem;
  border-top: 1px solid var(--gray-600);
}

.commentForm > label {
  line-height: 1.6;
  color: var(--gray-100);
}

.commentForm > textarea {
  width: 100%;
  background: var(--gray-900);
  border: 0;
  resize: none;
  height: 9.6rem;
  padding: 1.6rem;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4;
  margin-top: 1.6rem;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentForm button[type="submit"] {
  padding: 1.6rem 2.4rem;
  margin-top: 1.6rem;
  border-radius: 8px;
  border: 0;
  background: var(--green-500);
  color: var(--gray-100);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 100ms;
}

.commentForm button[type="submit"]:hover {
  background: var(--green-300);
}

.commentList {
  margin-top: 3.2rem;
}
